#container {
  text-align: center;
}

h2 {
  display: inline-block;
  vertical-align: middle;
}

#logo {
  vertical-align: middle;
}

.rightSideContainer {
  text-align: right;
}

.rightSideDocs {
  display: inline-block;
  width: 100px;
  text-align: center;
}

input {
  font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size:16px;
  width:700px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#inputText, #outputText {
  border:1px solid gray;
}

button {
  font-size:16px;
  margin-left: 50px;
}

#newSimplifyBtn {
  color:blue;
}

.infoText {
  width: 80px;
}

.underlined {
  text-decoration: underline;
}

button:hover {
  background-color: #aaa;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: light-gray;
  opacity: 0.5;
}